<h1><%= @goal.name %></h1>

<%= link_to 'Add a Goal', new_goal_path(@goal) %>




# <% @goal.each do |review| %>
#   <p>Goal was created <%= time_ago_in_words(goal.created_at) %> ago</p>
#   <p><%= goal.name %></p>
# <% end %>