.comments {
  -webkit-column-rule: dark grey;
  -moz-column-rule: dark grey;
  -o-column-rule: dark grey;
  column-rule: dark grey;
  color: grey;
  font-size: 30px;
  text-align: center;
}

.comments-goal {
  font-size: 15px;
}